{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ gantry.jf_g5_theme.tmpl_root() }}jf/particles/jf_p_clients/jf_p_clients.min.css" type="text/css" />
	{#<style>html{display:none}</style>#}
{% endblock %}

{% block javascript %}
	{#<script src="{{ url('gantry-theme://custom/css-compiled/sssssss.js') }}" type="text/javascript"></script>#}
    {#<script type="text/javascript">alert("BOOM");</script>#}
{% endblock %}

{% block particle %}
	{% for bg_options in particle.bg_options|slice(0, 1) %}
		{% if bg_options.bg_type == "color" %}<div style="background:{{ bg_options.bgColor|e }};{% if particle.padding %}padding:{{ particle.padding|e }};{% endif %}text-align:{{ particle.textAl|e }}">{% endif %}
		{% if bg_options.bg_type == "image" %}
			{% if bg_options.lazyload %}
			<div class="lazyload" data-bg="images/{{ bg_options.cover_src[15:] }}" style="background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;{% if particle.padding %}padding:{{ particle.padding|e }};{% endif %}text-align:{{ particle.textAl|e }}">
			{% else %}
			<div style="background-image:url({{ url(bg_options.cover_src)|e }});background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;{% if particle.padding %}padding:{{ particle.padding|e }};{% endif %}text-align:{{ particle.textAl|e }}">
			{% endif %}
		{% endif %}
		{% if bg_options.bg_type == "parallax_img" %}
			<div class="jf_parallax {{ bg_options.type }}" style="text-align:{{ particle.textAl|e }}">
				{% if bg_options.lazyload %}
				<div class="bg no-repeat cover lazyload" data-bg="images/{{ bg_options.parallax_src[15:] }}"></div>
				{% else %}
				<div class="bg no-repeat cover" style="background-image:url({{ url(bg_options.parallax_src)|e }});"></div>
				{% endif %}
				<div class="mask" data-parallax-opacity="{{ bg_options.maskOpacity|e }}" style="background:{{ bg_options.maskColor|e }}"></div>
				<div class="content {% if bg_options.scrolling %}scrolling{% else %}noscrolling{% endif %}" style="{% if particle.padding %}padding:{{ particle.padding|e }}{% endif %}">
		{% endif %}
		{% if bg_options.bg_type == "parallax_vid" %}
			{% if bg_options.video_type == "vimeo" %}
			<div class="jf_parallax vimeo {{ bg_options.type }}{% if bg_options.controls %} controls{% endif %}" style="text-align:{{ particle.textAl|e }}" data-vimeoid="{{ bg_options.vimeo_id|e }}" data-playerid="vimpl_{{ bg_options.vimeo_id|e }}" data-volume="{% if bg_options.muted %}0{% else %}1{% endif %}">
				<div class="bg"></div>
			{% elseif bg_options.video_type == "youtube" %}
			<div class="jf_parallax youtube {{ bg_options.type }}{% if bg_options.controls %} controls{% endif %}">
				<div class="bg" data-youtube-bg="{{ bg_options.youtube_id|e }}" data-volume="{% if bg_options.muted %}0{% else %}1{% endif %}"></div>
			{% else %}
			<div class="jf_parallax {{ bg_options.type }}{% if bg_options.controls %} controls{% endif %}" style="text-align:{{ particle.textAl|e }}">
				<div class="bg" data-video-bg="{{ bg_options.url|e }}{{ bg_options.vidname|e }}" data-video-options="posterType:jpg,loop:{% if bg_options.loop %}true{% else %}false{% endif %},muted:{% if bg_options.muted %}true{% else %}false{% endif %},position:0% 50%"></div>
			{% endif %}
				<div class="mask" data-parallax-opacity="{{ bg_options.maskOpacity|e }}" style="background:{{ bg_options.maskColor|e }}"></div>
				<div class="content{% if bg_options.scrolling %} scrolling{% else %} noscrolling{% endif %}" style="{% if particle.padding %}padding:{{ particle.padding|e }}{% endif %}">
		{% endif %}
	{% endfor %}
			{% if particle.contentW == "default" %}<div class="jf_g_container">{% endif %}
				<div class="clear"></div>
				{{ particle.html_before|html|raw }}
				
				<div class="jf_p_clients jf_col_fluid no_paddings">
					{% for item in particle.clients %}
						<div class="col-{{ item.grid }} {% if item.slide %}slide{% endif %} {{ item.class|e }}" style="{% if item.border %}border-width:{{ item.border_width|e }};border-color:{{ item.border_color|e }};border-style:solid{% endif %}">
							{% if item.bg %}<div class="bg_hover" style="background:{{ item.bg_color|e }}"></div>{% endif %}
							<a class="def" href="{{ item.client_url }}" title="{{ item.client_name|e }}" style="height:{{ particle.box_height|e }};line-height:{{ particle.box_height|e }}"{% if item.css3_anim_name %} data-animation="{{ item.css3_anim_name|e }}" data-animation-type="{{ item.css3_anim_type|e }}" data-animation-delay="{{ item.css3_anim_delay|e }}"{% endif %}>
								{% if particle.image_lazyload %}
									<img class="lazyload" src="{{ url(particle.image_lazyload_src)|e }}" data-src="images/{{ item.image_def[15:] }}" alt="{{ item.client_name|e }}" style="opacity:{{ item.image_defOpacity }}">
								{% else %}
									<img src="{{ url(item.image_def)|e }}" alt="{{ item.client_name|e }}" style="opacity:{{ item.image_defOpacity }}">
								{% endif %}
							</a>
							<a class="hov" href="{{ item.client_url }}" title="{{ item.client_name|e }}" style="height:{{ particle.box_height|e }};line-height:{{ particle.box_height|e }}">
								{% if particle.image_lazyload %}
									<img class="lazyload" src="{{ url(particle.image_lazyload_src)|e }}" data-src="images/{{ item.image_hov[15:] }}" alt="{{ item.client_name|e }}" style="opacity:{{ item.image_defOpacity }}">
								{% else %}
									<img src="{{ url(item.image_hov)|e }}" alt="{{ item.client_name|e }}" style="opacity:{{ item.image_defOpacity }}">
								{% endif %}
							</a>
						</div>
					{% endfor %}
				</div>
				
				<div class="clear"></div>
				{{ particle.html_after|html|raw }}
			{% if particle.contentW == "default" %}</div>{% endif %}
	{% for bg_options in particle.bg_options|slice(0, 1) %}
		{% if bg_options.bg_type == "parallax_vid" %}</div></div>{% endif %}
		{% if bg_options.bg_type == "parallax_img" %}</div></div>{% endif %}
		{% if bg_options.bg_type == "image" %}</div>{% endif %}
		{% if bg_options.bg_type == "color" %}</div>{% endif %}
	{% endfor %}
{% endblock %}